<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis turpis in sapien rutrum rutrum vel eu risus. Aliquam auctor non nibh eget hendrerit. Phasellus efficitur massa a felis laoreet facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In fermentum lacus eget justo lacinia, in feugiat leo venenatis. Cras vel felis commodo, mollis lectus sed, dapibus justo. Morbi maximus erat a arcu maximus, volutpat pulvinar enim aliquet. Aenean blandit lorem vel pellentesque dignissim. Praesent congue turpis in mi vestibulum, vitae lacinia lacus ullamcorper. Nunc quis pulvinar libero. Nunc gravida libero in blandit fermentum. Pellentesque magna felis, iaculis et dignissim vel, aliquam nec ante. In hac habitasse platea dictumst.
	</p>
</article>
